<div class="h-100 d-flex flex-column">
    <div class="m-2">
        <div class="d-flex justify-content-between m-2 ">
            <div class="fs-2">Clients</div>
            <div> <button [routerLink]="['add']" class="border border-primary rounded-circle p-1 fs-4 "
                    (click)="addBreadcrumb()"><a class="bi bi-plus-lg text-primary"></a></button>
            </div>
            <!-- (click)="breadcrumbAddData()" -->
        </div>
        <div clas="w-100 ">
            <input type="text" placeholder="Search text here" class="w-100 p-3 border " [(ngModel)]="filterdata">
        </div>
    </div>
    <div class="flex-grow-1 p-2 w-100">

        <ul class="">
            <li *ngFor="let data of company | search: filterdata"
                class="  d-flex justify-content-between w-100 p-2 fs-4  border border-dark"
                [routerLink]="['edit',data.id]" (click)="editBreadCrumb(data.companyname)">
                <span class="border border-primary rounded rounded-circle p-2"> {{data.companyname |
                    company}}</span>
                <span>{{data.companydescription}}</span>
                <span>{{data.companylogo}}</span>
                <span (click)="deleteCompany(data.id)"><a class="bi bi-x-square text-danger"></a></span>
            </li>
        </ul>
    </div>
</div>
<!-- <p>company-list works!</p> -->