<div class="h-100 w-100  d-flex justify-content-center  ">
    <div class="   w-100 m-5">
        <form class="row g-3  border border-dark p-3 w-100" [formGroup]="companyForm">
            <!-- companyname  -->
            <div class="">

                <input type="text" class="form-control " id="validationServer01" placeholder="Company Name"
                    formControlName="companyname">
                <div
                    *ngIf="companyFormControl['companyname']?.invalid && (isSubmitted || (companyFormControl['companyname'].touched || companyFormControl['companyname'].dirty) )">
                    <span class="text-danger" *ngIf="companyFormControl['companyname'].errors?.['required']">This field
                        is required</span>
                </div>
            </div>
            <!-- company-description -->
            <div class="">
                <textarea class="form-control " placeholder="Company description" id="floatingTextarea2"
                    style="height: 100px" formControlName="companydescription"></textarea>
                <div
                    *ngIf="companyFormControl['companydescription']?.invalid && (isSubmitted || (companyFormControl['companydescription'].touched || companyFormControl['companydescription'].dirty) )">
                    <span class="text-danger" *ngIf="companyFormControl['companydescription'].errors?.['required']">This
                        field is
                        required</span>
                </div>
            </div>
            <!-- company-tags -->
            <div class="">

                <ng-select class="form-control" bindLabel="name" placeholder="Select item" appendTo="body"
                    [multiple]="true" [searchable]="true" [clearable]="true" formControlName="companytags">
                    <ng-option *ngFor="let item of items">
                        {{item.name}}
                    </ng-option>
                </ng-select>

            </div>


            <!-- company logo -->
            <div class="">

                <input type="text" class="form-control " id="validationServer01" placeholder="select logo"
                    formControlName="companylogo">
                <div
                    *ngIf="companyFormControl['companylogo']?.invalid && (isSubmitted || (companyFormControl['companylogo'].touched || companyFormControl['companylogo'].dirty) )">
                    <span class="text-danger" *ngIf="companyFormControl['companylogo'].errors?.['required']">This field
                        is
                        required</span>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div></div>
                <div>

                    <button type="reset" class="p-2 me-3 btn btn-danger btn-lg" (click)="getForm()">Cancel</button>
                    <button type="submit" class="p-2 btn btn-primary btn-lg" (click)="saveCopmanyList()" *ngIf=!this.id>
                        Save</button>
                    <button type="submit" class="p-2 btn btn-primary btn-lg" (click)="saveCopmanyList()" *ngIf=this.id>
                        Update</button>
                </div>
            </div>

        </form>
    </div>

</div>